@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

body{
  background-color: rgb(250 251 252);
}

.container {
  width: 1080px;
  height: 650px;
  position: relative;
}
.navbar{
  width: 100%;
  background-color: #ffff;
  box-shadow: 0 10px 25px -2px rgba(197, 197, 197, 0.6);
  margin-top: 15px;
}
.navbar-brand, .nav-link, p, h3{
  font-family: 'PT Sans', sans-serif;
}
h3{
  font-size: 45px;
  font-weight: bold;
}

.navbar-expand-lg .navbar-nav {
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 20px;
}

.navbar-light .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: rgb(27 20 100);
  font-size: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.9);
  font-weight: bold;
}

.d-flex{
  width: 28%;
}

/* Start Style Button */
.themeBtn4 {
  background: rgb(27 20 100);
  color: #ffffff !important;
  display: inline-block;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  line-height: 0.8;
  padding: 25px 30px;
  text-transform: capitalize;
  border-radius: 1px;
  letter-spacing: 0.5px;
  border: 0px!important;
  cursor: pointer;
  border-radius: 100px;

}
.themeBtn4:hover {
  background: #00cec9;
  color: #ffffff;
 
}

/* End Style Button */
.row.header{
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.content1-left{
  justify-content: center;
  align-items: center;
}

.content1-right{
  padding:5%;
  text-align: center;
}

/* start style contact */

.session{
  margin-top: 20px;
}

.session .contact-form{
  border-radius: 2%;
  background-color: white;
  padding: 30px;
  box-shadow: 0 10px 25px -2px rgba(197, 197, 197, 0.6);
}
.session .contact-form .title {
  font-size: 2em;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #5f5f5f;
}
.session .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 15%;
  font-family: 'PT Sans', sans-serif;
}

label{
  font-family: 'PT Sans', sans-serif;
}

.session .contact-form input::placeholder,
.session .contact-form textarea::placeholder {
  color: #242424;
}
.session .contact-form .btn-primary {
  color: #fff;
  width: 100%;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
/* END style contact */