@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

.navbar{
  background-color: #ffff;
}
.navbar-brand, .nav-link, p, h3{
  font-family: 'PT Sans', sans-serif;
}
h3{
  font-size: 47px;
  font-weight: bold;
}

.navbar-expand-lg .navbar-nav {
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 25px;
}

.navbar-light .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: rgba(0,0,0,.9);
  font-size: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.9);
  font-weight: bold;
}

.d-flex{
  width: 23%;
}

/* Start Style Button */
.themeBtn4 {
  background: rgb(27 20 100);
  color: #ffffff !important;
  display: inline-block;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  line-height: 0.8;
  padding: 25px 30px;
  text-transform: capitalize;
  border-radius: 1px;
  letter-spacing: 0.5px;
  border: 0px!important;
  cursor: pointer;
  border-radius: 100px;

}
.themeBtn4:hover {
  background: #00cec9;
  color: #ffffff;
 
}

/* End Style Button */
.row.header{
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.content1-left{
  justify-content: center;
  align-items: center;
}

.content1-right{
  padding:5%;
  text-align: center;
}

